{% extends "course/base.html" %}

{% block includes %}
	{{super()}}

	<style type="text/css">
		@media print {
			html {
				font-size: 12px;
			}
		}
		.course-contents {
			padding: 0;
			display: inline-block;
		}
		.course-contents li {
			list-style: none;
			margin: 0.5em 0;
			page-break-inside: avoid;
		}

		.course-contents a {
			text-decoration: none;
		}

		.course-contents .item {
			clear: both;
		}

		.course-contents .item.toc {
			font-size: 1.6em;
		}

		.course-contents .item.folder {
			font-weight: bold;
		}

		.course-contents .item.other {
			color: #999;
		}

		.course-contents .item.scorm {
			height: 2.2em;
		}

		.course-contents .item.scorm .stats {
			float: right;
			margin-left: 2em;
		}
		.course-contents .item.scorm .num-attempts {
			padding: 0.5em;
			width: 10em;
			text-align: right;
		}

		.course-contents .item.scorm .num-attempts, .course-contents .item.scorm .sparkline {
			display: inline-block;
			vertical-align: bottom;
		}
		.sparkline {
			height: 2em;
			width: 8em;
		}
	</style>
{% endblock includes %}

{% block coursecontent %}
	<ul class="course-contents">
		{% for item in course.items %}
		{% include "course/courseitem.html" %}
		{% endfor %}
	</ul>
{% endblock coursecontent %}
