{% if item.kind != "toc" or item.subitems %}
<li>
	<p class="item {{item.kind}}">
	{% if item.kind=="scorm" %}
		<a href="{{url_for('view_scorm',pk=item.scorm.pk)}}">{{item.title}}</a>
		<span class="num-attempts {{(item.scorm.num_attempts/max_attempts)|correctstyle}}">{{item.scorm.num_attempts}} attempts</span>
	{% else %}
		{{item.title}}
	{% endif %}
	</p>
{% if item.subitems %}
<ul>
{% for subitem in item.subitems %}
{% with item=subitem %}{% include "courseitem.html" %}{% endwith %}
{% endfor %}
</ul>
{% endif %}
</li>
{% endif %}
