{% extends "base.html" %}

{% block includes %}
{{super()}}

<style type="text/css">
.course {
    margin: 1em 0 2em 0;
}

.course .title {
    font-size: 1.4em;
    margin-right: 1em;
}

.course a {
    text-decoration: none;
}

.course .num-scorms {
    color: #666;
    display: inline-block;
}

.courses {
    display: inline-block;
    list-style: none;
    padding: 0;
}
</style>
{% endblock includes %}

{% block content %}

	<h2>Courses</h2>
	<ul class="courses">
		{% for course in state.courses %}
		<li class="course"><a href="{{url_for('course_index',course=course.pk)}}"><span class="title">{{course.title}}</span></a> <span class="num-scorms">{{course.scorms|count}} SCORM package{{course.scorms|count|pluralize}}</span></li>
		{% endfor %}
	</ul>

	<p>Add another course or update an existing one: <a href="{{url_for('upload_zip')}}">upload a zip file</a></p>

{% endblock content %}
