{% extends "base.html" %}

{% block includes %}
	{{super()}}

	<style type="text/css">
		.course-contents {
			padding: 0;
			display: inline-block;
		}
		.course-contents li {
			list-style: none;
			margin: 0.5em 0;
		}

		.course-contents a {
			text-decoration: none;
		}

		.course-contents .item {
			clear: both;
		}

		.course-contents .item.toc {
			font-size: 1.6em;
		}

		.course-contents .item.folder {
			font-weight: bold;
		}

		.course-contents .item.other {
			color: #999;
		}

		.course-contents .item.scorm {
			height: 2.2em;
		}

		.course-contents .item.scorm .num-attempts {
			float: right;
			margin-left: 2em;
			padding: 0.5em;
			width: 10em;
			text-align: right;
		}
	</style>
{% endblock includes %}

{% block header %}
	{{super()}}
	<hr/>
	<h2>Course index</h2>
{% endblock header %}

{% block content %}

	{% if course is not none %}
	<ul class="course-contents">
		{% for item in course.items %}
		{% include "courseitem.html" %}
		{% endfor %}
	</ul>
	{% endif %}

	<p><a href="{{url_for('upload_zip')}}">Upload a zip file</a></p>

{% endblock content %}
