{% extends "scorm/base.html" %}

{% block includes %}
{{super()}}
<style type="text/css">
	.attempt-table {
		border-collapse: collapse;
	}
	.attempt-table td {
		padding: 0.5em 1em;
	}
	.attempt.first td {
		border-top: 1px solid #ccc;
	}
	.attempt .number {
		text-align: center;
	}
	.attempt .score {
		text-align: right;
		font-family: monospace;
	}

	.attempt .score.questions {
		text-align: center;
		font-size: 0.5em;
	}
	.attempt-table .score.questions ul {
		padding: 0;
		display: inline-block;
		list-style: none;
		width: 20em;
	}
	.attempt-table .score.questions li {
		display: inline-block;
		height: 2.8em;
		box-sizing: border-box;
		border: 1px solid white;
	}
	.attempt-table .score.questions .unsubmitted {
		opacity: 0.25;
	}



</style>
{% endblock includes %}

{% block scormcontent %}
	<table class="attempt-table">
		<thead>
			<tr>
				<th colspan="2"><a href="?sort=name&order={% if sort != 'name' or order=='desc' %}asc{% else %}desc{% endif %}">User</th>
				<th>Attempt number</th>
				<th colspan="3"><a href="?sort=score&order={% if sort != 'score' or order=='asc' %}desc{% else %}asc{% endif %}">Score</a></th>
				<th><a href="?sort=starttime&order={% if sort !='starttime' or order=='asc' %}desc{% else %}asc{% endif %}">Start time</a></th>
				<th><a href="?sort=duration&order={% if sort !='duration' or order=='asc' %}desc{% else %}asc{% endif %}">Time spent</a></th>
			</tr>
		</thead>
		<tbody>
			{% for attempt in attempts %}
			{% set first = attempt.user!=ouser %}
			{% set ouser=attempt.user %}
			<tr class="attempt {% if first %}first{% endif %}">
				<td>
					{% if first %}
					{{attempt.user.fullname}}	
					{% endif %}
				</td>
				<td class="username">{{attempt.user.username}}</td>
				<td class="number">{{attempt.number}}</td>
				<td class="score percent {{attempt.scaled_score|correctstyle}}">{{attempt.scaled_score|percent}}</td>
				<td class="score raw {{attempt.scaled_score|correctstyle}}">{{attempt.raw_score}} / {{attempt.max_score}}</td>
				<td class="score questions">
					<ul>
						{% for question in attempt.objectives %}<li style="width: {{(0.9*(question.max_score/attempt.max_score))|percent}}" class="{% if not question.answered %}unsubmitted {% endif %}{{question.scaled_score|correctstyle}}"></li>{% endfor %}
					</ul>
				</td>
				<td class="time start">{{attempt.start_time}}</td>
				<td class="duration">{{attempt.duration}}</td>
				<td><a href="{{url_for('attempt_report',pk=scorm.pk,attempt=attempt.pk)}}">Report</a></td>
				<td><a href="{{url_for('review',pk=scorm.pk,attempt=attempt.pk)}}" target="_blank">Run</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock scormcontent %}
