{% extends "scorm/base.html" %}

{% block includes %}
{{super()}}
<style type="text/css">
	.info {
		margin: 2em;
	}

	.objective-table .question-number {
		text-align: right;
	}

	.question-header {
		text-align: left;
		padding: 2em 0 1em 0;
		font-size: 1.2em;
	}
	.question-header .name {
		font-weight: normal;
		font-style: italic;
	}

	.interaction-table {
		width: 100%;
	}

	table th {
		text-align: left;
	}

	.interaction-table .response {
		font-family: monospace;
	}

	.interaction.gapfill, .interaction.information {
		color: #999;
	}

	.score.raw {
		padding-right: 0;
		text-align: right;
	}

	.score.max {
		padding-left: 0;
	}

	.score.max:before {
		content: '/';
		margin: 0 0.3em;
	}

	.suspend-data {
		max-height: 20em;
		overflow-y: auto;
		padding: 1em;
		background: #e5e5e5;
		color: #666;
	}

	.question-variables td {
		text-align: right;
		font-family: monospace;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.question-variables tr:nth-child(even) td {
		background-color: #eee;
	}

	.question-variables .value {
		padding-left: 2em;
	}

	.question-variables .name::after {
		content: ' :';
	}

</style>
{% endblock includes %}

{% block header %}
	{{super()}}
	<hr/>
	<h3><a href="{{url_for('attempt_report',course=course.pk,scorm=scorm.pk,attempt=attempt.pk)}}">Attempt {{attempt.number}} by {{attempt.user.fullname}} {{attempt.user.username}}</a></h3>
{% endblock header %}

{% block scormcontent %}

	<p class="run"><a href="{{url_for('review',course=course.pk,scorm=scorm.pk,attempt=attempt.pk)}}">Run in review mode</a></p>

	<table class="info">
		<tr><th>Attempt number</th><td>{{attempt.number}}</td></tr>
		<tr><th>Start time</th><td>{{attempt.start_time}}</td></tr>
		<tr><th>Duration</th><td>{{attempt.duration}}</td></tr>
	</table>

	<table class="objective-table">
		<thead>
			<tr>
				<th>Question</th>
				<th colspan="2">Score</th>
			</tr>
		</thead>
		<tbody>
			{% for objective in attempt.objectives %}
			<tr>
				<td class="question-number"><a href="#question-{{objective.question}}">{{objective.question}}</a></td>
				<td class="score raw {{(objective.raw_score/objective.max_score)|correctstyle}}">{{objective.raw_score}}</td>
				<td class="score max {{(objective.raw_score/objective.max_score)|correctstyle}}">{{objective.max_score}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	{% for question,interactions in attempt.interactions_by_question %}
		<h5 class="question-header" id="question-{{question.question}}">Question {{question.question}} - <span class="name">{{question.name}}</span></h5>
		<table class="interaction-table">
			<tr>
				<th></th>
				<th>Type</th>
				<th>Learner's response</th>
				<th>Correct response</th>
				<th colspan="2">Score</th>
			</tr>
			{% for interaction in interactions %}
			<tr class="interaction {{interaction.part_type}}">
				<td class="part">{{interaction.name}}</td>
				<td class="type">{{interaction.part_type_name}}</td>
				<td class="response learner">{{interaction.learner_response}}</td>
				<td class="response correct">{{interaction.correct_response}}</td>
				<td class="score raw">{{interaction.raw_score}}</td>
				<td class="score max">{{interaction.max_score}}</td>
			</tr>
			{% endfor %}
		</table>
		{% set variables = question.suspend_data.variables.items()|sort %}
		<h6>Variables</h6>
		{% if variables|count %}
		<table class="question-variables">
			{% for name,value in variables %}
			<tr>
			<td class="name">{{name}}</td>
			<td class="value">{{value}}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>No variables</p>
		{% endif %}
	{% endfor %}

	<h4>Suspend data</h4>
	<pre class="suspend-data">{{attempt.suspend_data|pretty_json}}</pre>
{% endblock scormcontent %}
